body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsla(0, 0%, 98%);
  height: 100vh;
  align-content: center;
}

/* Containers */
.container {
  margin: 20px auto;
  max-width: 440px;
  background: white;
  border: 4px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

}
.signup-container {
  padding: 0px 30px 30px;
}
.auth-container {
  padding: 0px 30px 30px;
}

/* Headings */
h2 {
  font-size: 1.8rem;
  text-align: center;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  color: black;
}

input {
  width: 90%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input:focus {
  outline: none;
}
/* input:invalid {
  border: 2px solid red;
  box-shadow: 0 0 5px red;
}
input:valid {
  border: 2px solid blue;
  outline: none;
  box-shadow: 0 0 5px blue; 
} */

button {
  padding: 10px 15px;
  font-size: 20px;
  color: white;
  background-color: hsl(210, 100%, 50%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 10px auto;
}

button:hover {
  background-color: hsl(210, 100%, 40%);
}

/* Success and Error Messages */
.signup-msg {
  font-size: 20px;
  font-weight: bold;
  color: green;
  margin-bottom: 20px;
}

.auth-success-msg {
  font-size: 20px;
  font-weight: bold;
  color: green;
}

.error-msg {
  font-size: 20px;
  font-weight: bold;
  color: red;
}
